<section class="section-sm">
    <div class="container">
    <div class="row">
    <div class="md:col-12 lg:col-12 mx-auto">
    <div id="mc_embed_shell">
      
    <div id="mc_embed_signup">
        <form action="https://essentialmillennial.us4.list-manage.com/subscribe/post?u=3120e0236bbe0b71fe4fefad3&amp;id=1da0a3ec8f&amp;f_id=00b851e8f0&SIGNUP={{ .Permalink }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
    <div class="mb-6">       
    <div id="mc_embed_signup_scroll"><h2>Subscribe to our mailing list</h2>
                
                
        <div class="mc-field-group mb-6"><label for="mce-EMAIL">Working Mail <span class="text-pink-500 asterisk">*</span></label><input type="email" name="EMAIL" class="required email form-input" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text">How do we contact you?</span></div>
    
            <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
    
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
            /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
            <input type="text" name="b_3120e0236bbe0b71fe4fefad3_1da0a3ec8f" tabindex="-1" value="">
           </div>
            <div class="optionalParent">
                <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary" value="Subscribe">
                    <p style="margin: 0px auto;"><a href="http://eepurl.com/g5GGh5" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                </div>
            </div>
        </div>
    
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    